

/*//////////////////// STRUCTURE UTILITIES ////////////////////*/
.line_height_equal{
    line-height: 38px;
}

.line_height_equal_2{
    line-height: 10px;
}

.icon_box{
    width: 35px;
    height: 35px;
    line-height: 35px; 
    text-align: center;
}

/*//////////////////// STYLE UTILITIES ////////////////////*/

/* COLOR FARM */
:root{
    --grey_blue:#2c3e50;
    --light_blue:#1abc9c;
    --l_grey_blue:#3a546d;
}

/* COLOR UTILITIES */
.grey_blue_bg{
   background-color:var(--grey_blue)
}

.grey_blue_t{
    color:var(--grey_blue)
}

.grey_blue_b{
    border-color:var(--grey_blue) ;
}

.sky_blue_bg{
    background-color: var(--light_blue);
}

.sky_blue_t{
    color: var(--light_blue);
}

.l_grey_blue_bg{
    background-color: var(--l_grey_blue);
}

/* TRANSITION UTILITIES */
.text_dec_trans:hover{
    border-bottom: 1px solid white;
}
